<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-u">
        <title>{% block title %}My Personal Portfolio{% endblock title %}</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
        >
    </head>
    <body class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'project_index' %}">Projects</a>
                </li>
              </ul>
            </div>
          </nav>
    {% block page_content %}{% endblock page_content %}
    <div id="footer">
        {% block footer %}
        Based on tutorial from <a href="https://realpython.com/get-started-with-django-1/">here</a>
        {% endblock footer %}
    </div>
    </body>
</html>